 @font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Italic-webfont.eot');
    src: url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Italic-webfont.woff') format('woff'),
         url('OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-BoldItalic-webfont.eot');
    src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-regular-webfont.eot');
    src: url('metropolis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('metropolis-regular-webfont.woff') format('woff'),
         url('metropolis-regular-webfont.ttf') format('truetype'),
         url('metropolis-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-bold-webfont.eot');
    src: url('metropolis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('metropolis-bold-webfont.woff') format('woff'),
         url('metropolis-bold-webfont.ttf') format('truetype'),
         url('metropolis-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-regularitalic-webfont.eot');
    src: url('metropolis-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('metropolis-regularitalic-webfont.woff') format('woff'),
         url('metropolis-regularitalic-webfont.ttf') format('truetype'),
         url('metropolis-regularitalic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-bolditalic-webfont.eot');
    src: url('metropolis-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('metropolis-bolditalic-webfont.woff') format('woff'),
         url('metropolis-bolditalic-webfont.ttf') format('truetype'),
         url('metropolis-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}


body{
    background: #222;
    /*font-family: "Metropolis", sans-serif;*/
    font-family: "Open Sans", sans-serif;
    color: #eee;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
   text-decoration:none;
   color: #ccf;
}

a img {
    border: 1px solid rgba(255,255,255,0);
}

a img:hover{
    border: 1px solid #333;
}
    
.left {
    text-align:left;
}
    
.center {
    text-align:center;
}

h1, h2, h3, h4, h5, h6, #name, .byline, .mainmenu, #footer{
    font-family: "Metropolis", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight:normal;
}

h4 { font-size: 1.8rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.0rem; }

#name, .byline, .mainmenu{
    text-transform: uppercase;
    text-align:center;
}


#name{
    font-size: 2.4rem;
}

.byline {
    font-size: 0.8rem ;
    
}

.mainmenu{
    padding:0ex 2ex 0ex 2ex;
    width:auto;
    font-size: 1rem;
}

.rightbar {
    background: #393939;
    padding-left: 5px;
    padding-right: 5px;
}
.rightbar p {
    font-size:0.9em;
    line-height: normal;
    }

.nowrap {
    white-space: nowrap;
    
}

.mainmenu a,
#byline a {
   /*display: inline-block;*/
    line-height:2.4rem; 
    }

#name a:hover,
.mainmenu:hover a,
#byline a:hover{
    color: #999;
}

#content {
    padding-top: 1em;
    margin-bottom:40px;
    }


#footer {
    bottom:0;
    padding-top:.5em;
    padding-bottom:.5em;
    text-align:center;
    font-size: 0.8em;
    margin-bottom: 0;
    text-transform: uppercase;
}

ul.publist{
    list-style-type: none;
    text-align:left;
    padding-left: 0;
}

ul.publist li{
    display:inline-block;
    padding-left:10px;
    line-height: 1.3em;
}
ul.publist li.pubyear {
    font-size: 1.1em;
    padding-left:1em;
    margin-bottom: 0.5rem;
    width:98%;
    background:#333360;
}
ul.publist li pubtitle a {
    border:none;
    
    line-height:normal;
}
ul.publist li pubcite {
    display:block;
    font-size:0.95em;
    margin-left: 10px;
    }
ul.publist li ul.publink{
    font-size:0.95em;
    list-style-type:none;
    list-style-image:"|";
    display: block;
    margin:0;
    padding:0;
    margin-left: 10px;
    padding-bottom: 15px;
}
ul.publist li ul.publink li{
    display: inline-block;
    line-height:0.1em;
    padding-left:0;
}
ul.publist li ul.publink li::after {
  content: "|";
  padding-left: 5px;
}

ul.soft-list {
    font-size: 12pt;
    list-style:none;
}
ul.soft-list p{
    font-size: 11pt;
    display:block;
    font-weight:normal;
    padding-left:20px;
    margin: 0;
}

ul.data-list{
    font-size: 12pt;
    list-style: none;
}

ul.data-list ui li::before{
    content: "> ";
}

ul.res-list {
    font-size: 12pt;
    list-style:none;
    
}
ul.res-list li {
    display:inline-block;
}
ul.res-list li::after{
  content: "|";
  padding-left: 5px; 
  padding-right: 5px;
  font-weight: normal;
}

img.fit {
    width: 90%;
}
img.dyna {
    width: 90%;
    min-width:100px;
    max-width:100px;
    margin: 0 auto;
}
.dynabox {
    min-width:120px;
}
.imgbox {
    min-width:150px;
    max-width:200px;
}

ul.nobullet {
    list-style-type:none;
}

.floater {
    float:left;
    margin-right:30px;
}

.nobottom {
    margin-bottom: 0;
}

.bordertop{
    border-top: 1px dotted #222;
    padding: 20px;
    }

.namebox{text-align: center;
         min-height:322px;
         }

.namebox img{max-width:110%;
             max-height:200px;
             margin: 0px 6px 6px 0px; */
            /*float:left;*/}
            
.namebox p{font-size:0.95em; margin-bottom:10px; margin-top:0px;}

.namex{
    font-size:1.2rem; 
    margin:0; 
    padding-bottom:0.5rem;
    }

ucase {
    text-transform: uppercase;
}
